[submodule "vk-bootstrap"]
	path = vendor/windows/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "VulkanMemoryAllocator"]
	path = vendor/windows/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "glm"]
	path = vendor/windows/glm
	url = https://github.com/g-truc/glm.git
[submodule "imgui"]
	path = vendor/windows/imgui
	url = https://github.com/Dubium0/imgui.git
[submodule "fastgltf"]
	path = vendor/windows/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "fmt"]
	path = vendor/windows/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "SDL2"]
	path = vendor/windows/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
	
[submodule "vendor/windows/stb"]
	path = vendor/windows/stb
	url = https://github.com/Dubium0/stb.git
